@use "@/scss/helpers" as *;

.about {
    padding-block: rem(48);

    &__container {
    }

    &__wrapper {
        padding: rem(28);
        border-radius: rem(20);
        box-shadow:
            0 rem(12) rem(28) 0 rgba(5, 31, 15, 0.07),
            0 0 rem(14) rem(2) #fff inset;
        background: linear-gradient(90deg, #edf7ef 0%, #f8fbf9 68%, #f4f7f4 100%);
        display: flex;
        gap: rem(32);
    }

    &__image {
        flex: 0 1 50%;
        box-shadow: rem(4) rem(0) rem(25) rem(8) rgba(5, 31, 15, 0.1);
        border-radius: rem(20);
    }

    &__text {
        flex: 0 1 50%;
        min-height: 100%;
        border-radius: rem(20);
        display: flex;
        flex-direction: column;
    }

    &__title {
    }

    &__list {
        height: 100%;
        margin-top: rem(18);
        // padding-block: rem(24);
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &-item {
        }
    }
}

.about-feature {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: rem(14);

    &__icon {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        @include flex-center;
        width: rem(42);
        height: rem(42);
        border-radius: 50%;
        background-color: #dff1e3;
    }

    &__title {
        font-weight: 600;
        font-size: rem(15);
        color: var(--color-black);
    }

    &__description {
        max-width: 55ch;
        font-size: rem(13);
        line-height: 154%;
        color: var(--color-black--light);
    }
}

@include mobile {
    .about {
        padding-block: rem(32);

        &__container {
        }

        &__wrapper {
            padding: 0;
            border-radius: 0;
            box-shadow: none;
            background: transparent;
            flex-direction: column;
            gap: rem(16);
        }

        &__image {
            order: 1;
            flex: 1 1 auto;
            box-shadow: none;
            border-radius: rem(16);
        }

        &__text {
            flex: 1 1 auto;
            min-height: auto;
            border-radius: 0;
            display: contents;
        }

        &__title {
            order: 0;
        }

        &__list {
            order: 2;
            height: auto;
            margin-top: 0;
            justify-content: flex-start;
            gap: rem(16);

            &-item {
            }
        }
    }

    .about-feature {
        padding: rem(14) rem(10);
        border: 1px solid #e1e9e3;
        border-radius: 12px;
        background: #f6faf8;
        column-gap: rem(12);
        align-items: center;

        &__icon {
            width: rem(36);
            height: rem(36);
        }

        &__title {
            // font-size: rem(13);
        }

        &__description {
            // font-size: rem(11);
        }
    }
}
