@use "helpers" as *;

.u-container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.u-title--section {
  font-weight: 800;
  font-size: rem(34);
  line-height: 129%;
  letter-spacing: -0.06em;
  color: var(--color-black);

  @include mobile {
    font-size: rem(26);
  }
}

.u-btn--regular {
  @include flex-center;
  border-radius: rem(10);
  box-shadow: 0 rem(8) rem(18) 0 rgba(22, 136, 61, 0.25);
  background: var(--color-green);
  font-weight: 600;
  font-size: rem(15);
  color: var(--color-white);

  &:active {
    translate: 0 rem(4);
    scale: 0.98 1;
    box-shadow: 0 rem(12) rem(22) 0 rgba(22, 136, 61, 0.25);
  }
}

.u-btn--second {
  padding: rem(15) rem(35);
  border-radius: rem(142);
  background: #fff;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: rem(15);
  line-height: 120%;
  color: #00368c;

  &:active {
    translate: 0 rem(4);
    scale: 0.98 1;
  }
}

.u-text--accent {
}

.u-section--head {
}

.u-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
